<div class="average-ratings">
  {{#if model.rating_count}}
    <div class="rating-summary">
      <span class="positive">+{{model.positive_count}}</span>
      <span class="neutral">=
      {{model.neutral_count}}</span>
      <span class="negative">-{{model.negative_count}}</span>
    </div>
    <span class="rating-count">
      {{#link-to "user.feedbacks" model}}{{i18n "discourse_user_feedbacks.user_feedbacks.user_ratings_count" count=model.rating_count}}{{/link-to}}
    </span>
  {{/if}}
</div>
